# OpenSSL configuration file for creating a CSR for a server certificate
# Adapt at least the FQDN and ORGNAME lines, and then run
# openssl req -new -config server.cnf -keyout server.key -out server.csr
# on the command line.

# the fully qualified server (or service) name
FQDN = DESKTOP-GJ9JFOE.mshome.net

# the name of your organization
ORGNAME = ThinkTech

# subjectAltName entries: to add DNS aliases to the CSR, delete
# the '#' character in the ALTNAMES line, and change the subsequent
# 'DNS:' entries accordingly. Please note: all DNS names must
# resolve to the same IP address as the FQDN.
ALTNAMES = DNS:host.docker.internal , DNS:localhost, IP:127.0.0.1

# --- no modifications required below ---
[ req ]
default_bits = 2048
default_md = sha256
prompt = no
encrypt_key = no
distinguished_name = dn
req_extensions = req_ext

[ dn ]
C = FR
O = $ORGNAME
CN = $FQDN

[ req_ext ]
subjectAltName = $ALTNAMES